/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
   font-family: 'Poppins', sans-serif !important;
}
.gizzard{
    width: 2.5rem;
}
.headerSection{
border-radius: 0px 0px 240px 240px;

}
#searchInput,#searchButton{
     border-radius: 50px ; 
}
/* #searchInput:focus{
outline: 0px;
} */
/* .mainSection{
    background-color: blue;
} */

.mainSection{
border-radius:240px 240px 0px 0px ;
background-image: linear-gradient(#f8f9fa,white) ;
}