/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
   font-family: 'Poppins', sans-serif !important;
}


/* site name customize  */
.gizzard{
    width: 2.5rem;
}
.headerSection{
border-radius: 0px 0px 240px 240px;

}
/* search nav  */
#searchInput,#searchButton{
     border-radius: 50px ; 
}
/* spinner  */
#spinner{
display:none
}


.mainSection{
border-radius:240px 240px 0px 0px ;
background-image: linear-gradient(#fff4f6,white) ;
}
/* no input section */
.errorSection{
    border-radius:240px 240px 0px 0px ;
background-image: linear-gradient(#e1e6eb,white) ;
}
.noResultSection{
    border-radius:240px 240px 0px 0px ;
background-image: linear-gradient(#ccccbb,white) ;
}


/* details of mobiles  */
.modal-content{
    background-image:url(./pexels-moose-photos-1038001.jpg);
    background-repeat:no-repeat ;
    width: 100%;
    background-position:center;
}